<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h5 class="m-0 font-weight-bold text-primary">트레이딩 설정</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <colgroup>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <td style="text-align: center"><h5>선택 코인</h5></td>
                                    <td><select id="coinn" name="coinn"
                                                class="form-control selectpicker"
                                                data-live-search="true">
                                        <option value="">코인을 선택하세요</option>
                                        {% for coin in coinlist %}
                                        <option value="{{ coin['market'] }}">{{ coin['market'] }}</option>
                                        {% endfor %}</select></td>
                                    <td style="text-align: right" id="selcprice">
                                    </td>
                                    <td>
                                        <button class="form-control btn btn-primary" onclick="sellcryptoRun()">설정추가
                                        </button>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align: center">원화잔고</td>
                                    <td style="text-align: right" id="krwbalance">
                                        {% for coin in mycoins %}
                                        {% if coin[5] == "KRW" %}
                                        {{ coin[9] |currency }}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td style="display:flex; align-items:center;">
                                        <span style="flex:1;">
                                            <label for="setupamt">설정금액</label>
                                        </span>
                                        <span style="flex:1; display:flex; justify-content:flex-end;">
                                            <input type="text" id="setupamt" name="setupamt" class="form-control" style="width:auto;text-align: right;"
                                            oninput="limitBprice(this)" onblur="formatBpriceOnBlur(this)">
                                        </span>
                                    </td>

                                    <td><input type="hidden" id="userNo" value="{{ userNo }}"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">보유량</td>
                                    <td id="coinbalance" style="text-align: right"></td>
                                    <td id="coinavgp" style="text-align: right"></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="listTable" width="100%" cellspacing="0">
                                <colgroup>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <td style="text-align: center"><h5></h5></td>
                                    <td></td>
                                    <td style="text-align: center" id=""></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SoftCore 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->

{% include '/comm/adscript.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</body>
<script>

    $('.selectpicker').selectpicker({
        style: 'btn-inverse',
        size: 40
    });

    $(document).ready(function () {
        setinit();
    });


    function setBuyableAmount(amount) {
        $('#buyable_amount').val(amount);
    }

    $('#coinn').change(function () {
        var market = $(this).val();
        if (market) {
            var upbitApi = $.getJSON('https://api.upbit.com/v1/ticker?markets=' + market);
            var uno = $('#userNo').val();
            var balanceApi = $.getJSON('/balancecrypto/' + uno + '/' + market);
            $.when(upbitApi, balanceApi).done(function (upbitRes, balanceRes) {
                var upbitData = upbitRes[0];
                var balanceData = balanceRes[0];
                if (upbitData && upbitData.length > 0) {
                    var price = upbitData[0].trade_price;
                    var krw = numberNoneCommas($("#krwbalance").text());
                    if (price > 0) {
                        var amount = Math.floor((krw / price) * 1000000) / 1000000;
                        setBuyableAmount(amount);
                        $("#selcprice").text(numberWithCommas(price));
                    } else {
                        setBuyableAmount("-");
                    }
                } else {
                    setBuyableAmount("-");
                }
                var coinSymbol = market.split("-")[1]; // KRW-BTC → BTC
                var coinBalance = balanceData[market] !== undefined ? balanceData[market] : "-";
                var coinAvgP = balanceData["avgPrice"] !== undefined ? balanceData["avgPrice"] : "-";
                let ratioText;
                if (
                    price !== undefined && price !== null &&
                    coinAvgP !== undefined && coinAvgP !== null &&
                    coinAvgP !== "-" && Number(coinAvgP) !== 0
                ) {
                    var ratio = ((price / Number(coinAvgP)) - 1) * 100;
                    ratioText = ratio.toFixed(2) + "%";
                } else {
                    ratioText = "-";
                }
                $("#marginrate").text(ratioText);
                $("#coinbalance").text(coinBalance);
                $("#coinavgp").text(numberWithCommas(coinAvgP));
            }).fail(function () {
                setBuyableAmount("-");
                $("#coinbalance").text("-");
            });
        } else {
            setBuyableAmount("-");
            $("#coinbalance").text("-");
        }
    });


    function setinit() {
    }

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function numberNoneCommas(x) {
        return x.toString().replace(/[\D\s\._\-]+/g, "");
    }

    function limitBamount(input) {
        input.value = input.value.replace(/[^0-9.]/g, '');
        var max = parseFloat(document.getElementById('buyable_amount').value, 10) || 0;
        var val = parseFloat(input.value, 10) || 0;
        if (val > max) input.value = max;
    }

    function limitBprice(input) {
        let raw = input.value.replace(/[^0-9]/g, '');
        let max = numberNoneCommas($("#krwbalance").text());
        let val = parseInt(raw, 10) || 0;
        if (val > max) val = max;
        input.value = val === 0 ? '' : val; // 0이면 빈 값으로
    }

    function formatBpriceOnBlur(input) {
        // 포커스 아웃 시: 최소값, 최대값 적용 + 콤마 적용
        let raw = input.value.replace(/[^0-9]/g, '');
        let max = numberNoneCommas($("#krwbalance").text());
        let min = 5000;
        let val = parseInt(raw, 10) || 0;
        if (val > max) val = max;
        if (val < min) val = min;
        input.value = numberWithCommas(val);
    }

</script>
</html>
