<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">나의 지갑 자산현황</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr style="text-align: center">
                                    <th>자산명</th>
                                    <th>잔고</th>
                                    <th>거래중</th>
                                    <th>평균매입가</th>
                                    <th>현재가</th>
                                    <th>구매금액</th>
                                    <th>평가금액</th>
                                    <th>평가액/구매액 비율</th>
                                    <th>추가기능</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for coin in mycoins %}
                                <tr>
                                    <td class="coins" style="text-align: center"> {{ coin[5] }}</td>
                                    <td class="vola" style="text-align: right"> {{ coin[9] }}</td>
                                    <td class="volb" style="text-align: right">0</td>
                                    <td class="aprice" style="text-align: right"> {% if coin[5] == 'KRW' %}1{% else %}{{ myavgp[coin[5]] }}{% endif %}</td>
                                    <td class="cprice" style="text-align: right">
                                        {{ coinprice[coin[5]] }}
                                    </td>
                                    <td class="cvalue" style="text-align: right"></td>
                                    <td class="balanceprice" style="text-align: right"></td>
                                    <td class="balancerate" style="text-align: right"></td>
                                    {% if coin[5]!="KRW" %}
                                    <td style="display: flex; justify-content: space-between;">
                                        <button class="btn form-control btn-primary" style="width: 48%;"
                                                onclick="sellcoin( {{ userNo }},{{ coin[5] }})"> 매도
                                        </button>
                                        <button class="btn form-control btn-danger" style="width: 48%;"
                                                onclick="buycoin( {{ userNo }},{{ coin[5] }})"> 매수
                                        </button>
                                    </td>
                                    {% elif coin[5] == "KRW" %}
                                    <td style="text-align: center">
                                        <div class="row"
                                             style="justify-content: space-evenly; margin-left: -.75rem; margin-right:-.75rem">
                                            <div class="d-inline-block">매도 금액 비율
                                            </div>
                                            <div class="d-inline-block">
                                                <select class="form-control" name="sellrate" id="sellrate">
                                                    <option value=1>100%</option>
                                                    <option value=2>50%</option>
                                                    <option value=4>25%</option>
                                                    <option value=10>10%</option>
                                                    <option value=20>5%</option>
                                                    <option value=100>1%</option>
                                                    <option value=0>10,000원</option>
                                                </select></div>
                                            <div class="d-inline-block">매수 금액
                                            </div>
                                            <div class="d-inline-block">
                                                <input id="buyamt" name="buyamt" class="form-control" type="text"
                                                       value="10000" placeholder="10,000" max="2000000" min="10000"
                                                       step="10000" style="text-align: right"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                            </div>
                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td style="text-align: center" colspan="5">현재 원화 가치 합계</td>
                                    <td id="wonsum" style="text-align: right"></td>
                                    <td id="estsum" style="text-align: right"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; K3 Labs 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->

{% include '/comm/adscript.html' %}

<script>
    $(document).ready(function () {
        calcvalue();
    });


    function sellcoin(uno, coinn) {
        if (confirm("본 코인을 시장가로 매도하시겠습니까? 자산이 5,000원 미만인 경우 5,000원을 추가로 매입하여 일괄 매도합니다.")) {
            let rate = $("#sellrate option:selected").val();
            data = [uno, coinn, rate]
            console.log(data);
            $.ajax({
                type: "POST",
                url: '/sellcoin',
                data: data,
                processData: false,
                contentType: false,
                success: (res) => {
                    console.log(res);
                    location.reload();
                }
            });
        } else {
        }
    }

    function numberWithCommas(x) {
        x = x.toString();
        var parts = x.split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.length > 1 ? parts[0] + "." + parts[1] : parts[0];
    }

    function numberNoneCommas(x) {
        return x.toString().replace(/[\D\s\._\-]+/g, "");
    }

    function calcvalue() {
        $Xarr = $(".coins");
        $Aarr = $(".vola");
        $Barr = $(".volb");
        $Carr = $(".aprice");
        $Darr = $(".cprice");
        $Earr = $(".cvalue");
        $Farr = $(".balanceprice");
        $Garr = $(".balancerate");
        var wonsum = 0;
        var estsum = 0;
        for (var i = 0; i < $Darr.length; i++) {
            var nprice = 0;
            var estrate = 0;
            var estpr = 0;
            var aval = parseFloat($Aarr[i].innerText); //잔고
            var bval = parseFloat($Barr[i].innerText); //거래중
            var cval = parseFloat($Carr[i].innerText); //평균매입가
            var dval = parseFloat($Darr[i].innerText); //현재가
            if (cval === 0) {
                cval = 1;
            }
            if (dval === 0) {
                dval = 1;
            }
            if (dval === "") {
                dval = 1;
            }
            nprice = parseInt(Math.round((aval + bval) * cval)); //구매 가치
            estpr = parseInt(Math.round((aval + bval) * dval)); //평가 가치
            estrate = 100 - ((nprice - estpr) / nprice * 100);
            estrate = estrate.toFixed(2);
            wonsum = wonsum + nprice; //원하 가치
            estsum = estsum + estpr; //평가 가치
            $Aarr[i].innerText = numberWithCommas(aval);
            $Barr[i].innerText = numberWithCommas(bval);
            $Carr[i].innerText = numberWithCommas(cval);
            $Darr[i].innerText = numberWithCommas(dval);
            $Earr[i].innerText = numberWithCommas(nprice);
            $Farr[i].innerText = numberWithCommas(estpr);
            $Garr[i].innerText = estrate;
        }
        $("#wonsum").html(numberWithCommas(wonsum));
        $("#estsum").html(numberWithCommas(estsum));
    }
</script>
</body>
</html>
